[submodule "gtest"]
	path = gtest
	url = https://github.com/google/googletest
[submodule "ale"]
	path = ale
	url = https://github.com/oleg-alexandrov/ale.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "PROJ"]
	path = PROJ
	url = https://github.com/OSGeo/PROJ
